<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Non_veg</title>
    <style>
        .top
        {
            text-align: center;
            color: red;
            background-color: rgb(240, 140, 9);
            height: 80px;
            width: 100%;
        }


    </style>
</head>
<body>
    <div class="top">
        <h1>Non_veg items</h1>     
    </div>
    <center><h1><marquee>"Chicken Love, Finger-Licking Good"</h1></marquee>
        <h1>"Mutton that makes every bite memorable"</h1>
        <h1><lorem>"Happy Hens, Happy Eggs. Happy Eggs come from Happy Hens"</lorem></h1>
    </center>

</body>
</html>